@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:wght@400;600;700;800;900&family=Poppins:wght@600&family=Ubuntu:wght@700&display=swap');

.container {
  @apply flex flex-col;
  min-height: 100vh;
  margin-bottom: 30px;
}

.heading {
  width: 100%;
  height: 60px;
  font-family: 'Nunito Sans Bold', sans-serif;
  font-style: bold;
  font-size: 25px;
  background-color: #395BD1;
  color: white;
}

.appName{
  padding: 15px;
}

.cover{
  @apply col-span-8 p-5 mx-6;
  margin-top: 8%;
  margin-left: 12%;
}

.main {
  @apply flex flex-col;
  padding: 1rem 0;
  flex: 1;
  justify-content: center;
  align-items: center;
}
// .coverWritngs{
//   @apply col-span-6;
//   padding: 30px;
// }
.popularCourses, .freeCourses{
  background-color: #395BD1;
  color: white;
  margin-top: 9%;
  margin-bottom: 3%;
  width: 30%;
  padding: 20px;
  font-size: 25px;
  font-weight: 600;
}

.freeCourses{
  margin-top: 5%;
  width: 40%;
}

.connectWallet{
  @apply border bg-gray-700 text-white rounded-md px-4 py-2 m-2 transition duration-500 select-none ;
  background-image: url("../../public/connect-walletHome.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 20px;
  margin-right:20px;
  width: 22rem;
  height: 10rem;
  font-size: 20px;
  font-style: bold;
  background-color: transparent;
  border: none;
}

.coverImage{
  @apply col-span-4;
  margin: 120px 70px 0 -100px;
}

.browse{
  margin-top: -70px;
  margin-left: 10%;
}

// .university{
//   @apply mt-12 flex justify-center;
//   background-color: rgb(210, 26, 26);
//   border: white;
//   border-radius: 10px;
//   height: 5rem;
//   width: 5rem;
// }


.dl {
  dt {
    @apply pt-2 text-sm uppercase text-gray-500;
  }
  dd {
    @apply font-medium;
  }
}