.heading {
    width: 100%;
    height: 60px;
    font-family: 'Nunito Sans Bold', sans-serif;
    font-style: bold;
    font-size: 25px;
    background-color: #395BD1;
    color: white;
  }
  
  .appName{
    padding: 15px;
  }

  .header{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #395BD1;
    margin: 20px;
  }